<div class="section" data-anchor="contact">
  <div class="section-inner section-padding">
    <h1 class="section-title">Contact Me</h1>
    <div class="row top-xs">
      <div class="col-xs">
        <div id="contact-form" class="text-center">
          <form>
            <input type="text" id="first-name" placeholder="First Name">
            <input type="text" id="email-addr" placeholder="Email Address">
            <textarea name="" id="message-body" cols="30" rows="12" placeholder="Message"></textarea>
            <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
            <input type="submit" value="Send">
          </form>
        </div>
      </div>
      <div class="col-xs">
        <div id="contact-social">
          <a href="#" class="social-contact">
            <i class="ti-twitter"></i>
            <span>Contact me on twitter @fourgigabyte</span>
          </a>
          <a href="#" class="social-contact">
            <i class="ti-youtube"></i>
            <span>Contact me on youtube @fourgigabyte</span>
          </a>
          <a href="" class="social-contact">
            <i class="ti-skype"></i>
            <span>Contact me on skype @fourgigabyte</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
