<div class="section active" data-anchor="home">
	<div class="section-inner">
		<h1 class="section-title text-center" id="home-title">Jack Doe</h1>
		<p  class="text-center" id="motto">Plugin Developer - Youtuber - Builder</p>
		<div class="text-center" id="social-networks">
			<a href="#"><i class="ti-youtube"></i></a>
			<a href="#"><i class="ti-twitter"></i></a>
			<a href="#"><i class="ti-skype"></i></a>
			<a href="#"><i class="ti-money"></i></a>
		</div>
	</div>
</div>
