<div class="section active" data-anchor="terms">
	<div class="section-inner section-padding">
		<h1 class="section-title">Terms of Service</h1>
    <div class="section-content">
      <p>Extra Stuff</p>
    </div>
	</div>
</div>
