vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

transform()
  vendor('transform', arguments)
transition()
  vendor('transition', arguments)
filter()
  vendor('filter', arguments)
